.dietsConteiner {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  width: inherit;
  height: 100%;
  text-align: left;
}

.diets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.47em;
  font-size: 1.2rem;
}

.diets > label {
  color: rgb(248, 259, 254);
}

.checkbox {
  opacity: 0.9;
}
