.buttonConteiners {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.buttonConteiners > button {
  position: relative;
  height: 2rem;
  width: 2.5rem;
  background-color: rgba(227, 255, 226, 0.795);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
}

.buttonConteiners > button:hover {
  scale: 1.1;
}

.buttonConteiners > button:active {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.724);
  scale: 0.9;
}

.buttonConteiners > button:disabled {
  color: rgb(0, 0, 0);
  background-color: hsl(56, 79%, 54%);
}

.buttonConteiners > button:disabled:hover {
  scale: 1;
}

.buttonConteiners > button:disabled:active {
  scale: 1;
}
